

<form action="/itineraries" method="post">
  <label for="itinerary[name]">itinerary Name:</label>
  <input type='text' name="itinerary[name]" placeholder="itinerary Name Here" />
  <br />
  <label for="itinerary[description]">itinerary Description:</label>
  <textarea type='text' name="itinerary[description]" placeholder="itinerary Description Here" class="materialize-textarea"></textarea>
  <br />
  <input type="submit" value="Submit" />
</form>
