<h1>Plan Your Trip!</h1>

<% if logged_in? %>
<p>
  <a href='/iternaries/new' class="btn btn-primary">Create a new one</a>
  <% current_user.iternary.each do |iternary| %>
  <p>
    <br />
    <a href="iternaries/<%= iternary.id %>"> <%= iternary.name %>
      <p>Description: 
        <%= iternary.description %>
        <br />
      </p>
  </p></a>
  <% end %>
</p>
<% else %>
<p>
  nope [to be filled with something else]
</p>
<%end%>
