<form action="/iternaries" method="post">
  <label for="iternary[name]">Iternary Name:</label>
  <input type='text' name="iternary[name]" placeholder="Iternary Name Here" />
  <br />
  <label for="iternary[description]">Iternary Description:</label>
  <input type='text' name="iternary[description]" placeholder="Iternary Description Here" />
  <br />
  <input type="submit" value="Submit" />
</form>
