<div class="container">
  <h1>Search</h1>
  <form action="/google_places" method="post">
    <label for="search[name]">Name / Category:</label>
    <input type='text' name="name" value=" " />
    <br />
    <label for="search[name]">City:</label>
    <input type='text' name="city" value=" " />
    <br />
    <label for="search[name]">State (optional):</label>
    <input type='text' name="state" value=" " />
    <br />
    <input type="submit" value="Submit" />
  </form>
</div>
