<form action="/locations" method="post">
  <label for="location[name]">Location Name / Type:</label>
  <input type='text' name="name" placeholder="Location Name Here" />
  <br />
  <label for="iternary[description]">City Here:</label>
  <input type='text' name="city" placeholder="City Here" />
  <br />
  <label for="iternary[description]">State/Country Here:</label>
  <input type='text' name="state" placeholder="State Here" />
  <br />
  <input type="submit" value="Submit" />
</form>
