<h1>Options</h1>

<% @options.each do |place| %>
<%= place.name %><br /><a href="<%= place.place_id %>">place id</a>
<br />
<br />
<% end %>

<!-- check boxes:
<input type = 'hidden', :name = 'foo', value = 'f'>
<input type = 'checkbox', name = 'foo', value = 't'> -->
